<nav class="navbar fixed-top navbar-dark" style=" text-align: left">
	<span class="title">{{title}}</span>
  <nav mat-tab-nav-bar color="accent">
    <a mat-tab-link
      *ngFor="let link of navLinks"
      [routerLink]="link.route"
      routerLinkActive #rla="routerLinkActive"
      [active]="rla.isActive">
      {{link.label}}
    </a>
  </nav>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>fingerprint</mat-icon>
      <span>Login</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>announcement</mat-icon>
      <span>Issues</span>
    </button>
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <span>Disable alerts</span>
    </button>
  </mat-menu>
</nav>
<div class="outlet">
	<router-outlet *ngIf="audioInitCheck"></router-outlet>
</div>
<section class="footer" id="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <br>
      </div>
    </div>
  </div>
</section>