<mat-toolbar color="primary">
  <span>Tones</span>
  <span class="spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>fingerprint</mat-icon>
      <span>Login</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>announcement</mat-icon>
      <span>Issues</span>
    </button>
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <span>Disable alerts</span>
    </button>
  </mat-menu>
</mat-toolbar>
<mat-card>
  <mat-card-content>
  <div class="full-width">
		<canvas #visCanvas class="visualizer full-width"></canvas>
  </div>
    <p></p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="startMonitoring()">
        <i class="material-icons mat-18">play_arrow</i> START
    </button>
    <button mat-button (click)="stopMonitoring()">
        <i class="material-icons mat-18">stop</i> STOP 
    </button>
  </mat-card-actions>
</mat-card>
<mat-card *ngFor="let pedal of pedalArr; let i = index">
  <mat-card-header>
    <mat-card-title style="font-size: 1.6em;">{{pedal.pedalName}}</mat-card-title>
    <mat-card-subtitle>
      <button mat-button (click)="pedal.power()" 
      [style.color]="pedal.powerToggle ? 'green' : 'red'">
        <i class="material-icons mat-18">power_settings_new</i>Power
      </button>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-grid-list cols="4" rowHeight="200px" gutterSize="2px">
      <mat-grid-tile *ngFor="let node of pedal.nodeData; let j = index">
        <p style="font: Roboto;">{{pedal.nodeData[j].name}}</p>
        <mat-slider max={{pedal.nodeData[j].max}} min={{pedal.nodeData[j].min}} step="1" value={{pedal.nodeData[j].default}} vertical (input)="pedal.updateValues($event, j)"></mat-slider>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
<mat-tab-group>
  <mat-tab label="Stuff">
  </mat-tab>
  <mat-tab label="More Stuff">
  </mat-tab>
</mat-tab-group>