/* You can add global styles to this file, and also import other style files */
/*@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";*/
body {
	background-color: #c8c8c8;
	padding-top: 90px;
}

.spacer {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.title{
	font-size: 1.6em;
	color: white;
}

.navbar {
	background-color: #222;
	padding: 0px 10px 0px 10px;
}

.navbar a{
	color: white;
}

.outlet{
	padding-left: 100px;
	padding-right: 100px;
}

.full-width {
	width: 100%;
}